<h2><%=t :ShortestPath, :scope => :shortest_paths %></h2>
<h3><%=t :AmbiguousConcept, :scope => :shortest_paths %></h3>
<p>
<% if [@src_senses,@dst_senses].all? {|s| s.size > 1 } %>
    <%= raw(t(:Registered, :scope => :shortest_paths, :count => @src_senses.size, :src => params[:src], :dst => params[:dst])) %></p>
<% elsif @src_senses.size > 1 %>
    <%= raw(t(:Registered, :scope => :shortest_paths, :count => 1, :param => params[:src])) %>
<% else %>
    <%= raw(t(:Registered, :scope => :shortest_paths, :count => 1, :param => params[:dst])) %>
<% end %>
<%= render :partial => 'split_view',
    :locals => {    :src_senses => @src_senses,
                    :dst_senses => @dst_senses
    }
  %>