<h2><%=t :ShortestPath, :scope => :shortest_paths %></h2>
<%= render :partial => 'split_view',
    :locals => {    :src_senses => [@src],
                    :dst_senses => [@dst]
    }
%>
<% if @path %>
    <h3><%=t :Path, :scope => :shortest_paths %></h3>
    <p><%=t :PathCount, :scope => :shortest_paths, :count => @relations.count %></p>
    <ol id="path">
    <% for step in @relations %>
        <li><%=  step.inspect%><br/>
        </li>
    <% end %>
    </ol>
<% else %>
    <em><%=t :Unrelated, :scope => :shortest_paths %></em>
<% end %>