<div style="margin-top: 1em; clear: both"></div>
<%= link_to 'metanord', 'http://www.meta-net.eu/projects/meta-nord/', :target => '_blank', :class => 'logo metanord' %>
<%= link_to 'metanet', 'http://www.meta-net.eu/', :target => '_blank', :class => 'logo metanet' %>
<div class="about">
	<h3>Om ordnetværk</h3>
	<p>
	  Begrebsnetværket der udstilles på denne side, er baseret på data fra <%= link_to 'DanNet',  'http://www.wordnet.dk' %> version 2.1.
	  Projektet er et samarbejde mellem <%= link_to 'Center for Sprogteknologi', 'http://cst.ku.dk' %> på Københavns Universitet
	  og <%= link_to 'Det Danske Sprog- og Litteraturselskab', 'http://dsl.dk/' %>.
	</p>
	<p>I alt er der registreret <%= number_with_delimiter(DanNet::SynSet.count) %> begreber
som holdes på plads af <%= number_with_delimiter(DanNet::Relation.count) %> indbyrdes forbindelser.</p>
	</p>
	<p>
	  DanNet's indflydelsesrige forbillede er det engelsksprogede <%= link_to 'WordNet', 'http://wordnet.princeton.edu/'%>
	  der siden midten af 1980'erne er blevet udviklet ved Princeton University.
	</p>
	<h3>Om WordTies</h3>
	<p>
	  Ordnetværk gør mest nytte som hjælpeværktøj for software 
	  der forsøger at komme på det rene med hvad tekster betyder. 
	  Alligevel er ambitionen med <span class="siteName"><%=t :title, :scope => :application %></span>
	  at invitere mennesker til at se lidt nærmere på
	  hvordan verden begrebsligt hænger sammen.
	</p>
</div>