<div style="margin-top: 1em; clear: both"></div>
<%= link_to image_tag('metanord_logo.small.jpg'), 'http://www.meta-net.eu/projects/meta-nord/', :target => '_blank', :class => 'logo metanord' %>
<%= link_to image_tag('metanet_logo.small.jpg'), 'http://www.meta-net.eu/', :target => '_blank', :class => 'logo metanet' %>
<div class="about">
	<h3>About WordNet</h3>
	<p>
	  The conceptual network displayed in this website is based on data from <%= link_to 'DanNet',  'http://www.wordnet.dk' %> version 2.1.
	  The project is a collaboration between <%= link_to 'Center for Sprogteknologi', 'http://cst.ku.dk' %> at University of Copenhagen
	  and <%= link_to 'Det Danske Sprog- og Litteraturselskab', 'http://dsl.dk/' %>.
	</p>
	<p>In total there are registered <%= number_with_delimiter(DanNet::SynSet.count) %> concepts
which is held in place by <%= number_with_delimiter(DanNet::Relation.count) %> relations.</p>
	</p>
	<p>
	  DanNet's is influenced by the English language <%= link_to 'WordNet', 'http://wordnet.princeton.edu/'%>
	  since the mid-1980s has been developed at Princeton University.
	</p>
	<h3>About WordTies</h3>
	<p>
	The <%=t :title, :scope => :application %> application is most useful as a utility software for trying to get clarify what a text means.
	Nevertheless, ambition with <span class="siteName"><%=t :title, :scope => :application %></span> is to invite people to look more closely at how the entire Wordnet is conceptually linked.
	</p>
</div>