<div style="margin-top: 1em; clear: both"></div>
<div class="about">
	<h3>About Wordnet</h3>
	<p>
	  The conceptual network displayed in this website is based on data from <%= link_to 'DanNet',  'http://wordnet.dk' %> version 2.1.
	  The project is a collaboration between <%= link_to 'Center for Sprogteknologi', 'http://cst.ku.dk' %> at University of Copenhagen
	  and <%= link_to 'Det Danske Sprog- og Litteraturselskab', 'http://dsl.dk/' %>.
	</p>
	<p>In total there are registered <%= number_with_delimiter(DanNet::SynSet.count) %> concepts
which is held in place by <%= number_with_delimiter(DanNet::Relation.count) %> relations.</p>
	</p>
	<p>
	  DanNet's is influenced by the English language <%= link_to 'WordNet', 'http://wordnet.princeton.edu/'%>
	  since the mid-1980s has been developed at Princeton University.
	</p>
	<h3>About WordTies</h3>
	<p>
	The <span class="siteName"><%=t :title, :scope => :application %></span> application is most useful as a utility software for browsing translational links between the different wordnets. Nevertheless, an additional ambition is to facilitate better browsing into the particular wordnets and thereby enable evaluation of  differences in structure and granularity.
	</p>
</div>
