<div id="pos"><%= t(@sense.word.pos_tag.name) %></div>
<h2><%= @sense.heading %></h2>
<div id="gloss">
    <%= @syn_set.gloss %>
</div>

<%= render :partial => 'graphs' %>

<% unless @synonyms.empty? %>
    <div class="analysisBox">
        <h3><%= t(:syn_collection, :scope => 'word_senses.headings').capitalize %></h3>
        <%= raw(@synonyms.collect {|ws| link_to ws.word.lemma, ord_path(ws)}.to_sentence) %>
    </div>
<% end %>
<% unless @syn_set.examples.empty? %>
    <div class="analysisBox examples">
        <h3><%= t(:sentence_use, :scope => 'word_senses.headings').capitalize %></h3>
        <div class="list capped">
          <ul>
            <% for example in @syn_set.examples %>
              <li><%= example %></li>
            <% end %>
          </ul>
        </div>
    </div>
<% end %>

   <div class="analysisBox">
        <% unless @paths_to_top.size <= 0 %>
	        <h3><%= t(:location, :scope => 'word_senses.headings').capitalize %></h3>
	        <% if @paths_to_top.size > 1 %>
	          <% min_path = @paths_to_top.first %>
	          <% max_path = @paths_to_top.last %>
	          <%= raw t(:super_concept_minmax,
	          	   :scope => :word_senses,
	          	   :count => min_path.size,
	          	   :max_count => max_path.size,
	          	   :min_path => raw("(via #{format_path_to_top(min_path)})"),
	          	   :max_path => raw("(#{format_path_to_top(max_path)})"),
	          	   :lemma => @sense.word.lemma) %>
	        <% elsif @paths_to_top.size == 1 %>
	          <% path_to_top = @paths_to_top.first %>
	            <%= raw t(:super_concept_top, 
	            	 :scope => :word_senses,
	            	 :count => path_to_top.size,
	            	 :path => raw("(#{format_path_to_top(path_to_top)})"), 
	          	     :lemma => @sense.word.lemma) %>
	        <% end %>
	    <% end %>
    </div>

<% unless @alignments_wordnet.empty? %>
    <div class="analysisBox alignment">
        <h3><%= t(:alignment, :scope => 'word_senses.headings').capitalize %></h3>
        <%=raw t('word_senses.wordnet_alignment', :aligned_wordnets => link_to(t(:en, :scope => 'word_senses.alignment_rel').capitalize + " Wordnet", "http://wordnet.princeton.edu/", :target => '_blank'), :current_wordnet => t(:et, :scope =>  'word_senses.alignment_rel').capitalize) %>:
        <ul class="list">
           <% for alignment in @alignments_wordnet %>
            <li>
                <span style="font-size: 1.2em; padding-right: 0.3em" alt='<%= alignment.relation_type_name %>'>
                    <%= t(alignment.relation_type_name, :scope => :relation_type_symbols) %>
                </span>
                <em>(<%= t(alignment.source.lang, :scope => :relation_type_lang).capitalize %>)</em>
                <%= alignment.synonyms.to_sentence %>: <em><%= alignment.definition %></em>
            </li>
           <% end %>
           <% # Hide block and user can open to show other language translations 
           	  # Later work to ext link to other AndreOrd instance (new linking table)
           %>
           <% for alignment in @alignments_through %>
             <li>
           		<span style="font-size: 1.2em; padding-left: 1.5em; padding-right: 0.3em" alt='<%= alignment.relation_type_name %>'>
                    <%= t(alignment.relation_type_name, :scope => :relation_type_symbols).capitalize %>
                </span>
                <em>(<%= t(alignment.source.lang, :scope => :relation_type_lang).capitalize %>)</em>
                <% if !alignment.source.instance.uri.empty? %>
                	<a href="<%= alignment.source.instance.uri%>synset/<%= alignment.ext_syn_set_id %>" target="_blank"><%= alignment.synonyms.to_sentence %></a>
                <% else %>
                	<%= alignment.synonyms.to_sentence %>
                <% end %>
                : <em><%= alignment.definition %></em>
             </li>
           <% end %>
        </ul>
    </div>
<% end %>


<%= render :partial => 'hyponyms' %>
<% unless @features.empty? %>
    <div class="analysisBox features">
        <h3><%= t(:features, :scope => 'word_senses.headings').capitalize %></h3>
        <%= @features.map(&:feature_type).map{|ft| t(ft.name)}.to_sentence %>
    </div>
<% end %>

