<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="google-site-verification" content="mHzS4U61Xdcd_92xVGJY_vQ7Ws370a0PvljDfAvfULU" />
        <title><%= h(@title||t(:title, :scope => :application)) %></title>
        <link  href="//fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" >
        <%= stylesheet_link_tag "application" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tag %>
    </head>
  <body>
    <div id="scene">
      <div id="header">
          <div id="query" class="with_filters">
                <%= form_tag '', :method => :get, :id => :search_form do -%>
                  <div id="querySuggestions">
                      <div id="querySuggestionsContainer"><input id="queryInput" type="text"/></div>
                      <div id="queryButton"> <%= submit_tag t(:search_btn, :scope => :application) %></div>
                      <div id="queryFilter">
                  		<div class="radio-left">
                  			<%= radio_button_tag 'filter_option', 'fullsearch', params[:filter_option] == nil %><%= label_tag "label_fullsearch", t(:search_nofilter, :scope => :application, :wordnet => t(:wordnet, :scope => :application)) %>
                  		</div>
                  		<div class="radio-right">
                  			<%= radio_button_tag 'filter_option', 'corepwn_aligned', params[:filter_option] == 'corepwn_aligned' %><%= label_tag "label_corepwn_aligned", t(:corepwn_aligned, :scope => 'application.search_filter') %><br/>
                  			<%= radio_button_tag 'filter_option', 'ml_aligned', params[:filter_option] == 'ml_aligned' %><%= label_tag "label_ml_aligned", t(:ml_aligned, :scope => 'application.search_filter') %>
                  		</div>
                 	  </div>
                  </div>
                <% end -%> 
            </div>
            <div id="logo">
              <%= link_to(t(:title, :scope => :application), '/') %>
            </div>
            <br style="height:150px; clear:both"/>
          </div>
          <script>
              $('search_form').observe('submit', function(e) {
                  e.stop();
                  var filter = $$('#queryFilter input[name=filter_option]:checked').first().value;
                  gotoWord($F('queryInput'), filter);
              })
          </script>
          <div id="main">
              <%= yield %>
          </div>
          <div id="footer">
              <%= link_to(t(:title, :scope => :application), '/') %> <%= t(:made_by, :scope => :application) %>
              <%=raw [mail_to('anders@johannsen.com', 'Anders Johannsen', :encode => 'javascript'), mail_to('seaton@hum.ku.dk', 'Mitchell Seaton', :encode => 'javascript')].to_sentence %><br/>
              <%= t(:data_from, :scope => :application) %> <%= link_to t(:wordnet, :scope => :application), 'http://wordnet.dk' %>
          </div>
          <%= render :partial => 'layouts/query_autocompleter' %>
    </div>
    <%= render :partial => 'layouts/google_analytics' %>
    </body>
</html>
