<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <title><%= h(@title||t(:title, :scope => :application)) %></title>
        <link  href="//fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" >
        <%= stylesheet_link_tag "application" %>
        <!--[if lte IE 9]>
    	<%= stylesheet_link_tag "application-ie", :media => "all" %>
		<![endif]-->
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tag %>
    </head>
  <body>
    <div id="scene">
      <div id="header">
          <div id="query">
                <%= form_tag '', :method => :get, :id => :search_form do -%>
                  <div id="querySuggestions">
                      <input id="queryInput" type="text"/>
                      <div id="querySuggestionsContainer"></div>
                  </div>
                  <%= submit_tag t(:search_btn, :scope => :application) %>
                <% end -%> 
            </div>
            <div id="logo">
              <%= link_to(t(:title, :scope => :application), '/') %>
            </div>
            <br style="height:150px; clear:both"/>
          </div>
          <script>
              $('search_form').observe('submit', function(e) {
                  e.stop()
                  gotoWord($F('queryInput'))
              })
          </script>
          <div id="main">
              <%= yield %>
          </div>
          <div id="footer">
              <%= link_to(t(:title, :scope => :application), '/') %> <%= t(:made_by, :scope => :application) %>
              <%=raw [mail_to('anders@johannsen.com', 'Anders Johannsen', :encode => 'javascript'), mail_to('seaton@hum.ku.dk', 'Mitchell Seaton', :encode => 'javascript')].to_sentence %><br/>
	      <%= t(:data_from, :scope => :application) %> <%= link_to t(:wordnet, :scope => :application), 'http://wordnet.dk' %>
	  </div>
          <%= render :partial => 'layouts/query_autocompleter' %>
    </div>
    </body>
</html>
